.modal_container{
    .header{
        background-color: var(--background-header);
        color: var(--text-color-4);
        font: var(--title);
        
        .title{
            display: flex;
            justify-content: center;
            width: 100%;
            
        }
    }
    .body{
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        input{
            text-align: center;
            width: 50px;
            outline: none;
            border: none;
            border-bottom: 1px solid var(--text-color-2);
        }
        .result{
            display: flex;
            // justify-content: space-between;
            align-items: center;
            h5{
                padding-right: 50px;
            }
            input{
                margin-right: 20px;
                margin-left: 20px;
            }
        }

        .item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 20px;
            .text{
                padding-left: 20px;
            }
        }

        .item:hover{
            background-color: var(--background);
        }

        .btnSubmit{
            width: 100%;
            background-color: var(--background-header);
            border-radius: 5px;
            border: none;
            color: var(--text-color-4);
            height: 30px;
            margin-top: 20px;
        }
    }
}