.container{
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 2% 8%;
    position: relative;

    .title{
        font: var(--title);
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            button{
                border: none;
                background-color: var(--background-header);
                border-radius: 4px;
                padding: 3px 10px;
                color: var(--text-color-4);
            }
            button.disabled{
                background-color: var(--text-color-2);
            }
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
      
      
}