.container{
    display: block;
    width: 100%;
    position: relative;
    .list{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        background-color: var(--background-component);
        border-radius: 4px;
        padding: 20px;
        
    }
}