.container{
    height: 100%;
    width: 100%;
    padding: 20px;
    .title{
        font: var(--title);
    }
    .form{
        .group{
            padding: 10px 0px;
            .header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .label{
                    font: var(--sub-title);
                }
                button{
                    align-items: center;
                    border: none;
                    outline: none;
                    background: none;
                    width: 30px;
                    height: 20px;
                    .icon{
                        width: 15px;
                        height: 15px;
                    }
                }
                .errMsg{
                    color: var(--background-header);
                }
            }
            .txt{
                color: var(--text-color-2);
            }
            input{
                margin-top: 10px;
                width: 100%;
                padding: 10px;
            }
        }
        .result{
            padding-left: 20px;
            color: var(--background-header);
        }
        button{
            border: 1px solid var(--text-color-1);
            height: 30px;
            width: 100px;
            margin-right: 10px;
            border-radius: 4px;
            background-color: var(--background-component);
        }
        button:hover{
            background-color: var(--background);
            color: var(--background-header);
        }
    }
}