.container{
    width: 260px;
    height: 280px;
    padding: 10px 15px;
    background-color: var(--background-component);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    .img{
        height: 100px;
        width: 100px;
        cursor: pointer;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .name{
        font: var(--title);
        color: var(--text-color-3);
        margin: 0px;
        text-align: center;
    }
    .stars{
        margin-left: auto;
        margin-right: auto;
        color: var(--star);
    }
    .location{
        text-align: center;
        color: var(--text-color-2);
        margin: 0px;
    }
    .group_btn{
        display: flex;
        justify-content: space-evenly;
        button{
            width: 90px;
            height: 30px;
            border: none;
            outline: none;
            border-radius: 5px;
            background-color: var(--button-color-1);
            color: var(--text-color-4);
        }
        .btn_join{
            background-color: var(--button-color-1);
        }
        .btn_message{
            background-color: var(--button-color-2);
        }
        .btn_cancel{
            background-color: var(--background-header);
        }
        .btn_leave{
            background-color: var(--background-header);
        }
        .btn_deny{
            background-color: var(--background-header);
        }
        .btn_approve{
            background-color: var(--button-color-1);
        }
    }
}
.container:hover{
    background-color: var(--background);
}