.friend{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    position: relative;
    width: 100%;
    img{
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    .message{
        margin-left: 20px;
        padding: 10px 20px;
        border-radius: 4px;
        background-color: var(--background);
        max-width: 70%;
    }
    .message:hover + .time{
        display: block;
    }
    .time{
        display: none;
        padding-left: 10px;
        color: var(--text-color-2);
    }
}
.self{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 5px 10px;
    width: 100%;
    img{
        display: none;
    }
    .message{
        margin-left: 20px;
        padding: 10px 20px;
        border-radius: 4px;
        background-color: var(--background-header);
        color: var(--text-color-4);
        max-width: 70%;
    }
    .message:hover + .time{
        display: block;
    }
    .time{
        display: none;
        padding-left: 10px;
        color: var(--text-color-2);
        clear: both;
    }
}