
.body{
    p{
        color: var(--background-header);
    }
    input, select{
        width: 45%;
        color: var(--text-color-2);
        border: 1px solid var(--text-color-1);
        outline: none;
        margin: 10px;
        padding: 10px 20px;
    }
    .fullwidth{
        width: 94%;
    }
    .btnLocate{
        display: flex;
        margin: 10px;
        height: 40px;
        border: 1px solid var(--text-color-1);
        color: var(--text-color-2);
        width: 94%;
        align-items: center;
        span{
            padding-right: 20px;
            padding-left: 20px;
        }
        button{
            border: none;
            outline: none;
            background-color: transparent;
            color: var(--background-header);
        }
    }
}