
.body{
    p{
        color: var(--background-header);
    }
    input, select{
        width: 45%;
        color: var(--text-color-2);
        border: 1px solid var(--text-color-1);
        outline: none;
        margin: 10px;
        padding: 10px 20px;
    }
    .fullwidth{
        width: 94%;
    }
}