.container{
    display: block;
    width: 100%;
    position: relative;
    .list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-top: 20px;
    }
}


@media only screen and (max-width: 600px) {
    .container{
        .list{
            grid-template-columns: 1fr;
        }
    }
}

@media only screen and (min-width: 600px) {
    .container{
        .list{
            grid-template-columns: 1fr 1fr;
        }
    }
}