.container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    select{
        background-color: transparent;
        border-radius: 6px;
    }
    .group{
        margin-right: 10px;
        padding-left: 5px;
    }
    .sort{
        padding-left: 5px;
        padding-right: 10px;
    }
    .find{
        background-color: var(--background-component);
        border-bottom: 1px solid var(--text-color-2);
        background-color: transparent;
        padding: 0px 5px;
        input{
            padding-left: 10px;
            background-color: transparent;
            border:none;
            outline: none;
        }
    }
}