.container {
    width: 100%;
    border-top: 20px solid var(--background-header);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--background-component);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--text-color-2);
    }
    .btn {
      width: 120px;
      height: 35px;
      background-color: var(--background-header);
      border: none;
      border-radius: 4px;
      color: var(--text-color-4);
      font: var(--content);
    }
}

.modal_container{
    .header{
        background-color: var(--background-header);
        color: var(--text-color-4);
        font: var(--title);
        
        .title{
            display: flex;
            justify-content: center;
            width: 100%;
            
        }
    }
    .body{
        .row{
            border-radius: 4px;
            outline: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            .col{
                width: 48%;
                height: 40px;
                border-radius: 4px;
                outline: none;
            }
        }
        input, select{
            border: 1px solid var(--text-color-1);
            padding-left: 20px;
            padding-right: 20px;
        }
        span{
            color: var(--background-header);
            padding-left: 10px;
        }
        .btnSubmit{
            width: 100%;
            background-color: var(--background-header);
            border-radius: 5px;
            border: none;
            color: var(--text-color-4);
            height: 30px;
            margin-top: 20px;
        }
    }
}
  