.container{
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 2% 8%;
    position: relative;
    .filter{
        width: 100%;
        padding-bottom: 30px;
    }
    .lists{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-auto-columns: 260px;
        // grid-auto-rows: 280px;
        gap: 10px;
        .addComp{
            position: relative;
            cursor: pointer;
            width: 100%;
            background-color: var(--background-component);
            display: grid;
            text-align: center;
            img{
                height: 70%;
                width: 100%;
            }
        
            button{
                position: absolute;
                bottom: calc(30% - 25px);
                left: calc(50% - 25px);
                width: 50px;
                height: 50px;
                border: 1px solid var(--text-color-2);
                border-radius: 50%;
                font-size: xxx-large;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            span{
                position: relative;
                font: var(--sub-title);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        .lists{
            display: grid;
            grid-template-columns: 1fr;
            padding: 10px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        .lists{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        .lists{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        .lists{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        .lists{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}