.container{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f85d;
    z-index: 100;
    .loader{
        position: absolute;
        top: calc((100vh - 200px)/2);
        left: calc((100vw - 200px)/2);
        z-index: 1000;
    }
}

.none{
    display: none;
}