.container{
    width: 100%;
    background-color: var(--background-component);
    padding: 10px 30px;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    .edit{
        display: flex;
        justify-content: flex-end;
        position: relative;
        .btnShowPopup{
            font-size: 20px;
            border: none;
            background-color: transparent;
            padding-bottom: 10px;
        }
        .btnShowPopup:hover{
            color: var(--background-header);
        }
        .popup{
            position: absolute;
            display: none;
            right: -20px;
            top: 0px;
            z-index: 1;
            background-color: var(--background);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 10px 10px;
            button{
                display: block;
                border: none;
                background-color: transparent;
                outline: none;
            }
            button:hover{
                color: var(--background-header);
            }
        }
        .btnShowPopup:focus + .popup, .popup:hover{
            display: block;
        }
    }
    .team {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-color-3);
        .logo {
            height: 30px;
            width: 30px;
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid var(--text-color-2);
        }

        .btnTeamJoin{
            border: none;
            border-radius: 50%;
            font-size: 20px;
            background-color: transparent;
            padding: 4px 10px;
        }
        .btnTeamJoin:hover{
            background-color: var(--background);

        }
    }
    .action{
        display: flex;
        justify-content: space-around;
        div{
            display: flex;
            justify-content: center;
            button{
                border: none;
                border-radius: 4px;
                margin: 10px 5px;
                color: var(--text-color-4);            
                width: 50px;
                height: 20px;
            }
            .btnLeave{
                background-color: var(--background-header);
            }
            .btnJoin{
                background-color: var(--button-color-1);
            }
            .btnCancel{
                background-color: var(--background-header);
            }
            .btnInvite{
                background-color: var(--button-color-2);
            }
        }
    }
    .time {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        color: var(--background-header);
    }
    .location,
    .type {
        padding-top: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        color: steelblue;
        span{
            text-align: center;
        }
    }

    .stadium{
        padding-top: 5px;
        display: flex;
        justify-content: center;
        color: var(--text-color-2);
    }

    button:disabled{
        background-color: var(--text-color-1) !important;
    }
}