.container{
    display: block;
    width: 100%;
    position: relative;
    .list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-top: 20px;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        .list{
            grid-template-columns: 1fr;
        }
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        .list{
            grid-template-columns: 1fr;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        .list{
            grid-template-columns: 1fr 1fr;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        .list{
            grid-template-columns: 1fr 1fr;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        .list{
            grid-template-columns: 1fr 1fr;
        }
    }
}