.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font: var(--content);
  color: var(--text-color-4);
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      height: 40px;
      width: 40px;
      cursor: pointer;
    }
    .logo:hover {
      color: var(--text-color-1);
    }
    .search {
      display: flex;
      justify-content: initial;
      align-items: center;
      .btnSearch {
        padding-left: 20px;
        input {
          height: 35px;
          width: 220px;
          padding-left: 10px;
          padding-right: 10px;
          border: 0px;
          border-radius: 5px 0px 0px 5px;
          background-color: var(--background-component);
        }
        input:focus {
          outline: none;
        }
      }
      .iconSearch {
        color: var(--background-header);
        height: 35px;
        width: 35px;
        padding: 7px;
        background-color: var(--background);
        border: 0px;
        border-radius: 0px 5px 5px 0px;
      }
    }
    .profile {
      display: flex;
      align-items: center;
      cursor: pointer;
      .avatar {
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
        padding-right: 10px;
      }
    }
    .profile:hover {
      color: var(--text-color-1);
    }
    .setting {
      display: inline-block;
      position: relative;
      align-items: center;
      padding-left: 20px;
      button {
        // outline: none;
        border: none;
        background-color: var(--background-header);
        height: 20px;
        width: 13px;
        padding: 0;
        color: var(--text-color-4);
      }
      .dropdown_setting{
        color: var(--text-color-3);
        display: none;
        position: absolute;
        top: 40px;
        right: -10px;
        background-color: #f1f1f1;
        min-width: 160px;
        border: 1px solid var(--background);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding-bottom: 20px;
        z-index: 1;
        p{
          font: var(--sub-title);
          padding: 10px 10px;
          border-bottom: 1px solid grey;
        }
        a{
          color: var(--text-color-2);
          padding-left: 20px;
          padding-bottom: 10px;
          cursor: pointer;
          display: block;
          text-decoration: none;
        }
        button{
          font: var(--sub-title);

          color: var(--text-color-3);
          padding: 10px 10px;
          outline: none;
          background: none;
          display: block;
          width: 100%;
          border-top: 1px solid var(--text-color-2);
        }
      }
      button:focus + .dropdown_setting, .dropdown_setting:hover{
        display: block;
      }
    }
    

    .nav {
      height: 57px;
      display: flex;
      justify-content: center;
      align-items: center;
      .btnNav {
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        .iconNav {
          height: 20px;
          width: 20px;

          margin: 0 auto;
          overflow: hidden;
        }
        .textNav{
        }
      }
      .btnNav:hover {
        color: var(--text-color-1);
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    .col {
      .logo {
        display: none;
      }
      .search {
        .btnSearch {
          padding-left: 0px;
          input {
            width: 10px;
          }
        }
        .iconSearch {
        }
      }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: none;
        }
      }
      .setting {
        padding-left: 0px;
        button {
        }
      }

      .nav {
        .btnNav {
          .iconNav {
            height: 20px;
            width: 20px;
          }
          .textNav{
            display: none;
          }
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    .col {
      .logo {
      }
      .logo:hover {
      }
      .search {
        .btnSearch {
          input {
          }
          input:focus {
          }
        }
        .iconSearch {
        }
      }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: none;
        }
      }
      .profile:hover {
      }
      .setting {
        button {
        }
      }

      .nav {
        .btnNav {
          .iconNav {
          }
          .textNav{
            display: none;
          }
        }
        .btnNav:hover {
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    .col {
      .logo {
      }
      .logo:hover {
      }
      .search {
        .btnSearch {
          input {
            width: 120px;
          }
          input:focus {
          }
        }
        .iconSearch {
        }
      }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: block;
        }
      }
      .profile:hover {
      }
      .setting {
        button {
        }
      }

      .nav {
        .btnNav {
          .iconNav {
            
          }
          .textNav{
            display: none;
          }
        }
        .btnNav:hover {
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    .col {
      .logo {
      }
      .logo:hover {
      }
      .search {
        .btnSearch {
          input {
            width: 200px;
          }
          input:focus {
          }
        }
        .iconSearch {
        }
      }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: block;
        }
      }
      .profile:hover {
      }
      .setting {
        button {
        }
      }

      .nav {
        .btnNav {
          .iconNav {
          }
          .textNav{
            display: block;
          }
        }
        .btnNav:hover {
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    .col {
      .logo {
      }
      .logo:hover {
      }
      .search {
        .btnSearch {
          input {
            width: 200px;
          }
          input:focus {
          }
        }
        .iconSearch {
        }
      }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: block;
        }
      }
      .profile:hover {
      }
      .setting {
        button {
        }
      }

      .nav {
        .btnNav {
          .iconNav {
          }
          .textNav{
            display: block;
          }
        }
        .btnNav:hover {
        }
      }
    }
  }
}
