.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font: var(--content);
  box-shadow: 0px 7px 7px rgba(17, 17, 17, 0.25);
  color: var(--text-color-4);

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      height: 40px;
      width: 40px;
      cursor: pointer;
    }
    .logo:hover {
      color: var(--text-color-1);
    }
    .search {
      display: flex;
      justify-content: initial;
      align-items: center;
      .btnSearch {
        padding-left: 20px;
        input {
          height: 35px;
          width: 220px;
          padding-left: 10px;
          padding-right: 10px;
          border: 0px;
          border-radius: 5px 0px 0px 5px;
          background-color: var(--background-component);
        }
        input:focus {
          outline: none;
        }
      }
      .iconSearch {
        color: var(--background-header);
        height: 35px;
        width: 35px;
        padding: 7px;
        background-color: var(--background);
        border: 0px;
        border-radius: 0px 5px 5px 0px;
      }
    }
    .profile {
      display: flex;
      align-items: center;
      cursor: pointer;
      .avatar {
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
        padding-right: 10px;
      }
    }
    .profile:hover {
      color: var(--text-color-1);
    }
    .setting {
      display: inline-block;
      position: relative;
      align-items: center;
      padding-left: 20px;
      button {
        // outline: none;
        border: none;
        background-color: var(--background-header);
        height: 20px;
        width: 13px;
        padding: 0;
        color: var(--text-color-4);
      }
      .dropdown_setting{
        padding-top: 20px;
        color: var(--text-color-3);
        display: none;
        position: absolute;
        top: 40px;
        right: -10px;
        background-color: #f1f1f1;
        min-width: 160px;
        border: 1px solid var(--background);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding-bottom: 10px;
        z-index: 1;
        a{
          color: var(--text-color-2);
          padding-left: 20px;
          padding-bottom: 10px;
          cursor: pointer;
          display: block;
          text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
          color: var(--background-header);
        }
      }
      button:focus + .dropdown_setting, .dropdown_setting:hover{
        display: block;
      }
    }
    

    .nav {
      position: relative;
      height: 57px;
      display: flex;
      justify-content: center;
      align-items: center;
      .btnNav {
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        .iconNav {
          padding: 0 5px;
          margin: 0 auto;
          overflow: hidden;
        }
        .textNav{
          display: none;
          position: absolute;
          background-color: var(--text-color-4);
          border-radius: 5px;
          padding: 5px 20px;
          // text-align: center;
          top: 25px;    
          white-space: nowrap;
          left: -10px;
          z-index: 3;
          .link{
            white-space: nowrap;
            padding-top: 5px;
            padding-bottom: 5px;
          }
          .link:hover{
            color: var(--star);
          }
        }
        .iconNav:hover + .textNav, .textNav:hover{
          display: block;
        }
      }
      
      .btnNav:hover {
        color: var(--text-color-1);
      }
      
      .group_notice{
        position: relative;
        .number{
          position: absolute;
          padding: 1px 5px;
          border-radius: 50%;
          background-color: rgb(0, 153, 255);
          color: white;
          top: -5px;
          right: 5px;
          z-index: 1;
        }
      }
    }
  }
  .notification{
    position: absolute;
    width: 300px;
    top: 57px;
    right: 10vw;
    background-color: var(--background-component);
    border-radius: 0px 0px 10px 10px;
    max-height: 500px;
    overflow-y: scroll;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    z-index: 2;
  }
  .hideNotification{
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    .col {
      .logo {
        display: none;
      }
      // .search {
      //   .btnSearch {
      //     padding-left: 0px;
      //     input {
      //       width: 100px;
      //     }
      //   }
      //   .iconSearch {
      //   }
      // }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: none;
        }
      }
      .setting {
        padding-left: 0px;
        button {
        }
      }

      .nav {
        margin-right: 10px;
        .btnNav {
          .iconNav {
            padding: 0;
          }
          .textNav{
            display: none;
          }
        }
        
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    .col {
      .logo {
      }
      .logo:hover {
      }
      // .search {
      //   .btnSearch {
      //     input {
      //       width: 120px;

      //     }
      //     input:focus {
      //     }
      //   }
      //   .iconSearch {
      //   }
      // }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: none;
        }
      }
      .profile:hover {
      }
      .setting {
        button {
        }
      }

      .nav {
        .btnNav {
          .iconNav {
            padding: 0;
          }
          .textNav{
            display: none;
          }
        }
        .btnNav:hover {
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    .col {
      .logo {
      }
      .logo:hover {
      }
      // .search {
      //   .btnSearch {
      //     input {
      //       width: 120px;
      //     }
      //     input:focus {
      //     }
      //   }
      //   .iconSearch {
      //   }
      // }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: block;
        }
      }
      .profile:hover {
      }
      .setting {
        button {
        }
      }

      .nav {
        .btnNav {
          .iconNav {
            padding: 0;
            
          }
          .textNav{
            display: none;
          }
        }
        .btnNav:hover {
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    .col {
      .logo {
      }
      .logo:hover {
      }
      // .search {
      //   .btnSearch {
      //     input {
      //       width: 200px;
      //     }
      //     input:focus {
      //     }
      //   }
      //   .iconSearch {
      //   }
      // }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: block;
        }
      }
      .profile:hover {
      }
      .setting {
        button {
        }
      }

      .nav {
        .btnNav {
          .iconNav {
            padding: 0 5px;

          }
          .textNav{
            display: none;
          }
        }
        .btnNav:hover {
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    .col {
      .logo {
      }
      .logo:hover {
      }
      // .search {
      //   .btnSearch {
      //     input {
      //       width: 200px;
      //     }
      //     input:focus {
      //     }
      //   }
      //   .iconSearch {
      //   }
      // }
      .profile {
        .avatar {
          img {
          }
        }
        .name{
          display: block;
        }
      }
      .profile:hover {
      }
      .setting {
        button {
        }
      }

      .nav {
        .btnNav {
          .iconNav {
            padding: 0 5px;

          }
          .textNav{
            display: none;
          }
        }
        .btnNav:hover {
        }
      }
    }
  }
}
