.container{
    width: 100vw;
    min-height: calc(100vh - 60px);
    padding: 2% 8%;
    position: relative;
    .filter{
        width: 100%;
    }
    .lists{
        display: grid;
        grid-template-columns: auto auto auto auto;
        // grid-auto-columns: 260px;
        // grid-auto-rows: 280px;
        gap: 10px;
    }
}