
.container {
    width: 100%;
    border-top: 20px solid var(--background-header);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--background-component);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--text-color-2);
    }
    .btn {
        width: 120px;
        height: 35px;
        background-color: var(--background-header);
        border: none;
        border-radius: 4px;
        color: var(--text-color-4);
        font: var(--content);
    } 
}
.modal_container{
    .header{
        background-color: var(--background-header);
        color: var(--text-color-4);
        font: var(--title);
        
        .title{
            display: flex;
            justify-content: center;
            width: 100%;
            
        }
    }
    .body{
        p{
            color: var(--background-header);
        }
        input, select{
            width: 45%;
            color: var(--text-color-2);
            border: 1px solid var(--text-color-1);
            outline: none;
            margin: 10px;
            padding: 10px 20px;
        }
        .fullwidth{
            width: 94%;
        }
        .btnLocate{
            display: flex;
            margin: 10px;
            height: 40px;
            border: 1px solid var(--text-color-1);
            color: var(--text-color-2);
            width: 94%;
            span{
                padding-right: 20px;
                padding-left: 20px;
            }
            button{
                border: none;
                outline: none;
                background-color: transparent;
                color: var(--background-header);
            }
        }
        .submit{
            display: flex;
            justify-content: center;
            width: 100%;
            .btnSubmit{
                height: 30px;
                width: 150px;
                border: none;
                border-radius: 4px;
                background-color: var(--background-header);
                color: var(--text-color-4);
    
            }
            .btnDisable{
                height: 30px;
                width: 150px;
                border: none;
                border-radius: 4px;
                background-color: var(--text-color-1);
                color: var(--text-color-4);
                cursor: not-allowed;
            }
        }
    }
}