@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../public/fonts/Roboto-Regular.ttf) format('truetype');;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

:root{
  // Color
  --background: #F2F2F2;
  --background-header: #E44D3A;
  --background-component: #FFFFFF;
  --background-login: #E75348;
  --text-color-1: #9E9E9E;
  --text-color-2: #686868;
  --text-color-3: #000000;
  --text-color-4: #FFFFFF;
  --star: #B7CE1F;
  --button-color-1: #53D690;
  --button-color-2: #51A5FB;

  // Font size
  --content: 13px 'Roboto',courier,arial,helvetica;
  --title: 18px 'Roboto',courier,arial,helvetica;
  --sub-title: 16px 'Roboto',courier,arial,helvetica;
  --name: 26px 'Roboto',courier,arial,helvetica;
}
[data-theme="dark"]{
  

}

html,
body {
  padding: 0;
  margin: 0;
  font: var(--content);

    /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
